<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum Page</title>
</head>
<body>
{#    {% with messages = get_flashed_messages() %}#}
{#        {% if messages %}#}
{#            {% for message in messages %}#}
{#                <p>{{ message }}</p>#}
{#            {% endfor %}#}
{#    {% endwith %}#}
    <h1>This is a forum page!</h1>
    <p>Welcome user: <a href="user_page"><b>{{ name }}</b></a></p>
    <p align="left"><a href="logout">logout</a></p>
    <img src={{ url }} alt="Ooh!" width="100", height="100">
<HR>
    <dt>Lastest comments: </dt>

        {% for i in output %}
            <p>Posted by: {{ i['name'] }}
                <img src={{ i['url'] }} alt="Ooh!" width="100", height="100"> </p>
               <p>Posted time: {{ i['timestamp'] }}</p>
            <p>Subject: {{ i['subject'] }}
               Message: {{ i['message'] }}</p>
        {% endfor %}
{#<table>#}
{#    <tr>#}
{#        {% if subject %}#}
{##}
{#    </tr>#}
{#    <tr>#}
{#        <td>{{ subject }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>{{ message }}</td>#}
{#    </tr>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#</table>#}

<HR>
<form action="/forum_page" method="post" enctype="multipart/form-data">
            <table>
                {{ form.csrf_token() }}
                <tr>
                    <td>
                        {{ form.subject.label }}
                    </td>
                    <td>
                        {{ form.subject }}
                    </td>
                </tr>

                <tr>
                    <td>
                        {{form.message_text.label}}
                    </td>
                    <td>
                        {{form.message_text  }}
                    </td>
                </tr>
            <tr>
                <td>
                    {{ form.photo.label }}
                </td>
                <td>
                      {{ form.photo }}
                </td>
{#                <td>#}
{#                    <input type = "file" name = "file" />#}
{#                </td>#}
            </tr>
            <tr>
                <td>
                    {{ form.submit }}
                </td>
            </tr>
            </table>
        </form>

<HR>

{% if form.subject.errors or form.message_text.errors or form.photo.errors %}
Error message:
    {% for message in form.subject.errors %}
        <p>{{ message }}</p>
    {% endfor %}

    {% for message in form.message_text.errors %}
        <p>{{ message }}</p>
    {% endfor %}

    {% for message in form.photo.errors %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
</body>
</html>