<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
    <p>Personal Profile: <b>{{ name }}</b></p>

    <form action="/change_password", method="POST">
        <table>
            <tr>
                <td>Old Password: </td>
                <td><input type="password" name = "old_password"></td>
            </tr>

            <tr>
                <td>New Password: </td>
                <td><input type="password" name = "new_password"></td>
            </tr>

            <tr>
                <td><input type="Submit" value = "Change"></td>

            </tr>
        </table>

    </form>

    {% if error %}
        <p><strong>Error</strong>: {{ error }}</p>
    {% endif %}
</body>
</html>